In [27]:
import pandas as pd

df = pd.read_csv("11_biz_merged_clean.csv")  # variable name doesn't start with a number
print(df.shape)
df.head(3)

(36261, 61)

,business_id,city,state,latitude,longitude,review_count,is_open,review_count_log1p,attr_ByAppointmentOnly,attr_BusinessAcceptsCreditCards,...,cat__Caterers,cat__Specialty Food,cat__Bakeries,cat__Desserts,rev_count_2019,avg_stars_2019,first_review_2019,last_review_2019,rl_word_mean,rl_share_short24
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,PA,39.955505,-75.155564,80.0,True,4.394449,False,False,...,0,0,1,0,20,4.550000,2019-03-12 17:04:09,2021-11-01 18:22:07,81.45,0.05
1,CF33F8-E6oudUQ46HnavjQ,Ashland City,TN,36.269593,-87.058943,6.0,True,1.945910,False,True,...,0,0,0,0,3,1.333333,2020-06-26 19:22:36,2021-03-06 07:18:00,70.00,0.00
2,bBDDEgkFA1Otx9Lfe7BZUQ,Nashville,TN,36.208102,-86.768170,10.0,True,2.397895,False,True,...,0,0,0,0,5,1.800000,2019-01-05 01:28:55,2021-04-15 19:16:33,111.20,0.00

In [4]:
from pathlib import Path
import pandas as pd

data_path = Path.home() / "Downloads" / "11_biz_merged_clean.csv"
df = pd.read_csv(data_path)
print(df.shape)
df.head(3)

(36261, 61)

,business_id,city,state,latitude,longitude,review_count,is_open,review_count_log1p,attr_ByAppointmentOnly,attr_BusinessAcceptsCreditCards,...,cat__Caterers,cat__Specialty Food,cat__Bakeries,cat__Desserts,rev_count_2019,avg_stars_2019,first_review_2019,last_review_2019,rl_word_mean,rl_share_short24
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,PA,39.955505,-75.155564,80.0,True,4.394449,False,False,...,0,0,1,0,20,4.550000,2019-03-12 17:04:09,2021-11-01 18:22:07,81.45,0.05
1,CF33F8-E6oudUQ46HnavjQ,Ashland City,TN,36.269593,-87.058943,6.0,True,1.945910,False,True,...,0,0,0,0,3,1.333333,2020-06-26 19:22:36,2021-03-06 07:18:00,70.00,0.00
2,bBDDEgkFA1Otx9Lfe7BZUQ,Nashville,TN,36.208102,-86.768170,10.0,True,2.397895,False,True,...,0,0,0,0,5,1.800000,2019-01-05 01:28:55,2021-04-15 19:16:33,111.20,0.00

In [5]:
# High-level metadata view
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36261 entries, 0 to 36260
Data columns (total 61 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_id                      36261 non-null  object
 1   city                             36261 non-null  object
 2   state                            36261 non-null  object
 3   latitude                         36261 non-null  float64
 4   longitude                        36261 non-null  float64
 5   review_count                     36261 non-null  float64
 6   is_open                          36261 non-null  bool
 7   review_count_log1p               36261 non-null  float64
 8   attr_ByAppointmentOnly           3139 non-null   object
 9   attr_BusinessAcceptsCreditCards  31372 non-null  object
 10  attr_BikeParking                 26853 non-null  object
 11  attr_RestaurantsPriceRange2      29672 non-null  float64
 12  attr_RestaurantsTakeOut          33187 non-null  object
 13  attr_RestaurantsDelivery         31363 non-null  object
 14  attr_Caters                      25596 non-null  object
 15  attr_WiFi                        27525 non-null  object
 16  attr_WheelchairAccessible        11787 non-null  object
 17  attr_HappyHour                   10870 non-null  object
 18  attr_OutdoorSeating              28323 non-null  object
 19  attr_HasTV                       29718 non-null  object
 20  attr_RestaurantsReservations     29308 non-null  object
 21  attr_DogsAllowed                 10543 non-null  object
 22  attr_Alcohol                     13375 non-null  object
 23  attr_GoodForKids                 27103 non-null  object
 24  attr_RestaurantsAttire           25418 non-null  object
 25  attr_RestaurantsTableService     16532 non-null  object
 26  attr_RestaurantsGoodForGroups    27531 non-null  object
 27  attr_DriveThru                   5247 non-null   object
 28  attr_NoiseLevel                  23674 non-null  object
 29  attr_Smoking                     0 non-null      float64
 30  total_weekly_hours               36261 non-null  float64
 31  days_open                        36261 non-null  float64
 32  weekend_hours                    36261 non-null  float64
 33  avg_daily_hours                  36261 non-null  float64
 34  has_hours_info                   36261 non-null  bool
 35  cat__Sandwiches                  36261 non-null  int64
 36  cat__American (Traditional)      36261 non-null  int64
 37  cat__Pizza                       36261 non-null  int64
 38  cat__Fast Food                   36261 non-null  int64
 39  cat__Breakfast & Brunch          36261 non-null  int64
 40  cat__American (New)              36261 non-null  int64
 41  cat__Burgers                     36261 non-null  int64
 42  cat__Mexican                     36261 non-null  int64
 43  cat__Italian                     36261 non-null  int64
 44  cat__Coffee & Tea                36261 non-null  int64
 45  cat__Seafood                     36261 non-null  int64
 46  cat__Chinese                     36261 non-null  int64
 47  cat__Salad                       36261 non-null  int64
 48  cat__Chicken Wings               36261 non-null  int64
 49  cat__Cafes                       36261 non-null  int64
 50  cat__Delis                       36261 non-null  int64
 51  cat__Caterers                    36261 non-null  int64
 52  cat__Specialty Food              36261 non-null  int64
 53  cat__Bakeries                    36261 non-null  int64
 54  cat__Desserts                    36261 non-null  int64
 55  rev_count_2019                   36261 non-null  int64
 56  avg_stars_2019                   36261 non-null  float64
 57  first_review_2019                36261 non-null  object
 58  last_review_2019                 36261 non-null  object
 59  rl_word_mean                     36261 non-null  float64
 60  rl_share_short24                 36261 non-null  float64
dtypes: bool(2), float64(13), int64(21), object(25)
memory usage: 16.4+ MB

In [6]:
def int_to_categorical(
    df, max_unique_values=10
):
    """
    Parameters:
    - df: Input pd.DataFrame
    - max_unique_values: int, max number of unique values
    """

    df_copy = df.copy()
    n_rows = len(df_copy)

In [8]:
for col in df_copy.select_dtypes(
        include = ['int', 'int64', 'int32']
    ).columns :
        n_unique = df_copy[col].nunique()

        if n_unique <= max_unique_values:
            df_copy[col] = df_copy[col].astype('category')

    return df_copy

IndentationError: unindent does not match any outer indentation level (<string>, line 9)

In [9]:
def clean_df(df):
    # ALWAYS indent with 4 spaces inside the function
    df_copy = df.copy()

    # --- your edits go here (example safe edits) ---
    # Drop a known all-NaN column if present
    if "attr_Smoking" in df_copy.columns:
        df_copy = df_copy.drop(columns=["attr_Smoking"])

    # Convert obvious True/False strings to 0/1 (example)
    # if "attr_GoodForKids" in df_copy.columns:
    #     df_copy["attr_GoodForKids"] = df_copy["attr_GoodForKids"].map({"True": 1, "False": 0})
    # ------------------------------------------------

    return df_copy  # exactly 4 spaces in from the left, aligned with df_copy = df.copy()

In [10]:
df_fixed = clean_df(df)
df_fixed.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36261 entries, 0 to 36260
Data columns (total 60 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_id                      36261 non-null  object
 1   city                             36261 non-null  object
 2   state                            36261 non-null  object
 3   latitude                         36261 non-null  float64
 4   longitude                        36261 non-null  float64
 5   review_count                     36261 non-null  float64
 6   is_open                          36261 non-null  bool
 7   review_count_log1p               36261 non-null  float64
 8   attr_ByAppointmentOnly           3139 non-null   object
 9   attr_BusinessAcceptsCreditCards  31372 non-null  object
 10  attr_BikeParking                 26853 non-null  object
 11  attr_RestaurantsPriceRange2      29672 non-null  float64
 12  attr_RestaurantsTakeOut          33187 non-null  object
 13  attr_RestaurantsDelivery         31363 non-null  object
 14  attr_Caters                      25596 non-null  object
 15  attr_WiFi                        27525 non-null  object
 16  attr_WheelchairAccessible        11787 non-null  object
 17  attr_HappyHour                   10870 non-null  object
 18  attr_OutdoorSeating              28323 non-null  object
 19  attr_HasTV                       29718 non-null  object
 20  attr_RestaurantsReservations     29308 non-null  object
 21  attr_DogsAllowed                 10543 non-null  object
 22  attr_Alcohol                     13375 non-null  object
 23  attr_GoodForKids                 27103 non-null  object
 24  attr_RestaurantsAttire           25418 non-null  object
 25  attr_RestaurantsTableService     16532 non-null  object
 26  attr_RestaurantsGoodForGroups    27531 non-null  object
 27  attr_DriveThru                   5247 non-null   object
 28  attr_NoiseLevel                  23674 non-null  object
 29  total_weekly_hours               36261 non-null  float64
 30  days_open                        36261 non-null  float64
 31  weekend_hours                    36261 non-null  float64
 32  avg_daily_hours                  36261 non-null  float64
 33  has_hours_info                   36261 non-null  bool
 34  cat__Sandwiches                  36261 non-null  int64
 35  cat__American (Traditional)      36261 non-null  int64
 36  cat__Pizza                       36261 non-null  int64
 37  cat__Fast Food                   36261 non-null  int64
 38  cat__Breakfast & Brunch          36261 non-null  int64
 39  cat__American (New)              36261 non-null  int64
 40  cat__Burgers                     36261 non-null  int64
 41  cat__Mexican                     36261 non-null  int64
 42  cat__Italian                     36261 non-null  int64
 43  cat__Coffee & Tea                36261 non-null  int64
 44  cat__Seafood                     36261 non-null  int64
 45  cat__Chinese                     36261 non-null  int64
 46  cat__Salad                       36261 non-null  int64
 47  cat__Chicken Wings               36261 non-null  int64
 48  cat__Cafes                       36261 non-null  int64
 49  cat__Delis                       36261 non-null  int64
 50  cat__Caterers                    36261 non-null  int64
 51  cat__Specialty Food              36261 non-null  int64
 52  cat__Bakeries                    36261 non-null  int64
 53  cat__Desserts                    36261 non-null  int64
 54  rev_count_2019                   36261 non-null  int64
 55  avg_stars_2019                   36261 non-null  float64
 56  first_review_2019                36261 non-null  object
 57  last_review_2019                 36261 non-null  object
 58  rl_word_mean                     36261 non-null  float64
 59  rl_share_short24                 36261 non-null  float64
dtypes: bool(2), float64(12), int64(21), object(25)
memory usage: 16.1+ MB

In [11]:
def clean_df(df, max_unique_values=20, verbose=True):
    df_copy = df.copy()
    changed = []

    # cast low-cardinality integer columns to 'category'
    int_dtypes = ["int", "int32", "int64", "Int32", "Int64"]  # include pandas nullable ints
    for col in df_copy.select_dtypes(include=int_dtypes).columns:
        n_unique = df_copy[col].nunique(dropna=True)
        if n_unique <= max_unique_values:
            df_copy[col] = df_copy[col].astype("category")
            changed.append((col, n_unique))

    if verbose and changed:
        print("Converted to 'category':", ", ".join(f"{c} (n_unique={k})" for c, k in changed))

    return df_copy

In [12]:
df = clean_df(df, max_unique_values=20)

Converted to 'category': cat__Sandwiches (n_unique=2), cat__American (Traditional) (n_unique=2), cat__Pizza (n_unique=2), cat__Fast Food (n_unique=2), cat__Breakfast & Brunch (n_unique=2), cat__American (New) (n_unique=2), cat__Burgers (n_unique=2), cat__Mexican (n_unique=2), cat__Italian (n_unique=2), cat__Coffee & Tea (n_unique=2), cat__Seafood (n_unique=2), cat__Chinese (n_unique=2), cat__Salad (n_unique=2), cat__Chicken Wings (n_unique=2), cat__Cafes (n_unique=2), cat__Delis (n_unique=2), cat__Caterers (n_unique=2), cat__Specialty Food (n_unique=2), cat__Bakeries (n_unique=2), cat__Desserts (n_unique=2)

In [13]:
# Change relevant integer columns
df_new = int_to_categorical(df)

# High-level metadata view
df_new.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [14]:
#Define int_to_categorical
def int_to_categorical(df, max_unique_values=20, verbose=True):
    """Convert low-cardinality integer columns to 'category' dtype."""
    df_copy = df.copy()
    changed = []

    # include pandas nullable ints too ("Int32","Int64")
    int_dtypes = ["int", "int32", "int64", "Int32", "Int64"]

    for col in df_copy.select_dtypes(include=int_dtypes).columns:
        n_unique = df_copy[col].nunique(dropna=True)
        if n_unique <= max_unique_values:
            df_copy[col] = df_copy[col].astype("category")
            changed.append((col, n_unique))

    if verbose and changed:
        print("Converted to 'category':", ", ".join(f"{c} (n_unique={k})" for c, k in changed))

    return df_copy

In [15]:
# Change relevant integer columns
df_new = int_to_categorical(df, max_unique_values=20)

# High-level metadata view
df_new.info(show_counts=True, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36261 entries, 0 to 36260
Data columns (total 61 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_id                      36261 non-null  object
 1   city                             36261 non-null  object
 2   state                            36261 non-null  object
 3   latitude                         36261 non-null  float64
 4   longitude                        36261 non-null  float64
 5   review_count                     36261 non-null  float64
 6   is_open                          36261 non-null  bool
 7   review_count_log1p               36261 non-null  float64
 8   attr_ByAppointmentOnly           3139 non-null   object
 9   attr_BusinessAcceptsCreditCards  31372 non-null  object
 10  attr_BikeParking                 26853 non-null  object
 11  attr_RestaurantsPriceRange2      29672 non-null  float64
 12  attr_RestaurantsTakeOut          33187 non-null  object
 13  attr_RestaurantsDelivery         31363 non-null  object
 14  attr_Caters                      25596 non-null  object
 15  attr_WiFi                        27525 non-null  object
 16  attr_WheelchairAccessible        11787 non-null  object
 17  attr_HappyHour                   10870 non-null  object
 18  attr_OutdoorSeating              28323 non-null  object
 19  attr_HasTV                       29718 non-null  object
 20  attr_RestaurantsReservations     29308 non-null  object
 21  attr_DogsAllowed                 10543 non-null  object
 22  attr_Alcohol                     13375 non-null  object
 23  attr_GoodForKids                 27103 non-null  object
 24  attr_RestaurantsAttire           25418 non-null  object
 25  attr_RestaurantsTableService     16532 non-null  object
 26  attr_RestaurantsGoodForGroups    27531 non-null  object
 27  attr_DriveThru                   5247 non-null   object
 28  attr_NoiseLevel                  23674 non-null  object
 29  attr_Smoking                     0 non-null      float64
 30  total_weekly_hours               36261 non-null  float64
 31  days_open                        36261 non-null  float64
 32  weekend_hours                    36261 non-null  float64
 33  avg_daily_hours                  36261 non-null  float64
 34  has_hours_info                   36261 non-null  bool
 35  cat__Sandwiches                  36261 non-null  category
 36  cat__American (Traditional)      36261 non-null  category
 37  cat__Pizza                       36261 non-null  category
 38  cat__Fast Food                   36261 non-null  category
 39  cat__Breakfast & Brunch          36261 non-null  category
 40  cat__American (New)              36261 non-null  category
 41  cat__Burgers                     36261 non-null  category
 42  cat__Mexican                     36261 non-null  category
 43  cat__Italian                     36261 non-null  category
 44  cat__Coffee & Tea                36261 non-null  category
 45  cat__Seafood                     36261 non-null  category
 46  cat__Chinese                     36261 non-null  category
 47  cat__Salad                       36261 non-null  category
 48  cat__Chicken Wings               36261 non-null  category
 49  cat__Cafes                       36261 non-null  category
 50  cat__Delis                       36261 non-null  category
 51  cat__Caterers                    36261 non-null  category
 52  cat__Specialty Food              36261 non-null  category
 53  cat__Bakeries                    36261 non-null  category
 54  cat__Desserts                    36261 non-null  category
 55  rev_count_2019                   36261 non-null  int64
 56  avg_stars_2019                   36261 non-null  float64
 57  first_review_2019                36261 non-null  object
 58  last_review_2019                 36261 non-null  object
 59  rl_word_mean                     36261 non-null  float64
 60  rl_share_short24                 36261 non-null  float64
dtypes: bool(2), category(20), float64(13), int64(1), object(25)
memory usage: 41.0 MB

In [16]:
#create_metadata
import pandas as pd

def create_metadata(df):
    """
    Build a metadata table for each column in df.
    """
    meta = pd.DataFrame(index=df.columns)

    # core stats
    meta["dtype"]        = df.dtypes.astype(str)
    meta["n_unique"]     = df.nunique(dropna=True)
    meta["missing_sum"]  = df.isna().sum()
    meta["missing_pct"]  = (meta["missing_sum"] / len(df)).round(4)
    meta["non_null"]     = len(df) - meta["missing_sum"]

    # one example non-null value per column (handy for a quick glance)
    meta["example"] = df.apply(lambda s: s.dropna().iloc[0] if s.notna().any() else pd.NA)

    return meta

In [17]:
meta = create_metadata(df_new)  # or df
meta.head(20)
# Optional: save
# meta.to_csv("data_dictionary.csv")

,dtype,n_unique,missing_sum,missing_pct,non_null,example
business_id,object,36261,0,0.0000,36261,MTSW4McQd7CbVtyjqoe9mw
city,object,839,0,0.0000,36261,Philadelphia
state,object,15,0,0.0000,36261,PA
latitude,float64,34934,0,0.0000,36261,39.955505
longitude,float64,34500,0,0.0000,36261,-75.155564
review_count,float64,1127,0,0.0000,36261,80.0
is_open,bool,2,0,0.0000,36261,True
review_count_log1p,float64,1127,0,0.0000,36261,4.394449
attr_ByAppointmentOnly,object,2,33122,0.9134,3139,False
attr_BusinessAcceptsCreditCards,object,2,4889,0.1348,31372,False
attr_BikeParking,object,2,9408,0.2595,26853,True
attr_RestaurantsPriceRange2,float64,4,6589,0.1817,29672,1.0
attr_RestaurantsTakeOut,object,2,3074,0.0848,33187,True
attr_RestaurantsDelivery,object,2,4898,0.1351,31363,False
attr_Caters,object,2,10665,0.2941,25596,True
attr_WiFi,object,3,8736,0.2409,27525,free
attr_WheelchairAccessible,object,2,24474,0.6749,11787,True
attr_HappyHour,object,2,25391,0.7002,10870,False
attr_OutdoorSeating,object,2,7938,0.2189,28323,False
attr_HasTV,object,2,6543,0.1804,29718,True

In [23]:
import pandas as pd
from pandas.api.types import is_numeric_dtype, is_object_dtype, is_string_dtype

def create_metadata(df):
    meta = pd.DataFrame(index=df.columns)
    meta["dtype_obj"]   = df.dtypes
    meta["dtype"]       = meta["dtype_obj"].astype(str)
    meta["n_unique"]    = df.nunique(dropna=True)
    meta["missing_sum"] = df.isna().sum()
    meta["missing_pct"] = (meta["missing_sum"] / len(df)).round(4)
    meta["non_null"]    = len(df) - meta["missing_sum"]

    # Updated checks (no deprecation warnings):
    meta["is_numeric"] = meta["dtype_obj"].apply(is_numeric_dtype)
    meta["is_categorical"] = meta["dtype_obj"].apply(
        lambda dt: isinstance(dt, pd.CategoricalDtype) or is_object_dtype(dt) or is_string_dtype(dt)
    )

    meta["sample_values"] = df.apply(lambda col: col.dropna().unique()[:5].tolist())
    return meta

In [25]:
meta = create_metadata(df_new)   # or df
meta.head(20)

,dtype_obj,dtype,n_unique,missing_sum,missing_pct,non_null,is_numeric,is_categorical,sample_values
business_id,object,object,36261,0,0.0000,36261,False,True,"[MTSW4McQd7CbVtyjqoe9mw, CF33F8-E6oudUQ46Hnavj..."
city,object,object,839,0,0.0000,36261,False,True,"[Philadelphia, Ashland City, Nashville, Tampa ..."
state,object,object,15,0,0.0000,36261,False,True,"[PA, TN, FL, IN, NV]"
latitude,float64,float64,34934,0,0.0000,36261,True,False,"[39.9555052, 36.269593, 36.2081024, 27.9552692..."
longitude,float64,float64,34500,0,0.0000,36261,True,False,"[-75.1555641, -87.058943, -86.7681696, -82.456..."
review_count,float64,float64,1127,0,0.0000,36261,True,False,"[80.0, 6.0, 10.0, 28.0, 100.0]"
is_open,bool,bool,2,0,0.0000,36261,True,False,"[True, False]"
review_count_log1p,float64,float64,1127,0,0.0000,36261,True,False,"[4.394449, 1.9459101, 2.3978953, 3.3672957, 4...."
attr_ByAppointmentOnly,object,object,2,33122,0.9134,3139,False,True,"[False, True]"
attr_BusinessAcceptsCreditCards,object,object,2,4889,0.1348,31372,False,True,"[False, True]"
attr_BikeParking,object,object,2,9408,0.2595,26853,False,True,"[True, False]"
attr_RestaurantsPriceRange2,float64,float64,4,6589,0.1817,29672,True,False,"[1.0, 2.0, 3.0, 4.0]"
attr_RestaurantsTakeOut,object,object,2,3074,0.0848,33187,False,True,"[True, False]"
attr_RestaurantsDelivery,object,object,2,4898,0.1351,31363,False,True,"[False, True]"
attr_Caters,object,object,2,10665,0.2941,25596,False,True,"[True, False]"
attr_WiFi,object,object,3,8736,0.2409,27525,False,True,"[free, no, paid]"
attr_WheelchairAccessible,object,object,2,24474,0.6749,11787,False,True,"[True, False]"
attr_HappyHour,object,object,2,25391,0.7002,10870,False,True,"[False, True]"
attr_OutdoorSeating,object,object,2,7938,0.2189,28323,False,True,"[False, True]"
attr_HasTV,object,object,2,6543,0.1804,29718,False,True,"[True, False]"

In [29]:
meta_df = create_metadata(df)

meta_out = meta_df.copy()
if "sample_values" in meta_out.columns:
    meta_out["sample_values"] = meta_out["sample_values"].apply(
        lambda v: "; ".join(map(str, v)) if isinstance(v, list) else ""
    )

meta_out.to_csv("metadata_report.csv", index=True)
print("Saved â†’ metadata_report.csv", meta_out.shape)

Saved â†’ metadata_report.csv (61, 9)

In [31]:
#loop-based version of create_metadata
import pandas as pd
from pandas.api.types import is_numeric_dtype, is_object_dtype

def create_metadata_loop(df):
    """Build a metadata table for each column in df (loop version)."""
    rows = []
    n = len(df)

    for col in df.columns:
        s = df[col]
        dtype = s.dtype
        n_unique = s.nunique(dropna=True)
        missing_sum = int(s.isna().sum())
        missing_pct = round(missing_sum / n, 4) if n else 0.0
        non_null = n - missing_sum

        # example non-missing value (if any)
        if non_null:
            try:
                example = s.dropna().iloc[0]
            except Exception:
                example = pd.NA
        else:
            example = pd.NA

        rows.append({
            "column": col,
            "dtype": str(dtype),
            "n_unique": int(n_unique),
            "missing_sum": missing_sum,
            "missing_pct": missing_pct,
            "non_null": int(non_null),
            "example": example,
            # optional flags (uncomment if you want them)
            # "is_numeric": bool(is_numeric_dtype(dtype)),
            # "is_categorical": bool(is_object_dtype(dtype) or isinstance(dtype, pd.CategoricalDtype)),
        })

    meta = pd.DataFrame(rows).set_index("column")
    return meta

In [32]:
meta = create_metadata_loop(df_new)   # or df
meta.head(20)
# meta.to_csv("metadata_report.csv")

,dtype,n_unique,missing_sum,missing_pct,non_null,example
column,,,,,,
business_id,object,36261,0,0.0000,36261,MTSW4McQd7CbVtyjqoe9mw
city,object,839,0,0.0000,36261,Philadelphia
state,object,15,0,0.0000,36261,PA
latitude,float64,34934,0,0.0000,36261,39.955505
longitude,float64,34500,0,0.0000,36261,-75.155564
review_count,float64,1127,0,0.0000,36261,80.0
is_open,bool,2,0,0.0000,36261,True
review_count_log1p,float64,1127,0,0.0000,36261,4.394449
attr_ByAppointmentOnly,object,2,33122,0.9134,3139,False
attr_BusinessAcceptsCreditCards,object,2,4889,0.1348,31372,False
attr_BikeParking,object,2,9408,0.2595,26853,True
attr_RestaurantsPriceRange2,float64,4,6589,0.1817,29672,1.0
attr_RestaurantsTakeOut,object,2,3074,0.0848,33187,True
attr_RestaurantsDelivery,object,2,4898,0.1351,31363,False
attr_Caters,object,2,10665,0.2941,25596,True
attr_WiFi,object,3,8736,0.2409,27525,free
attr_WheelchairAccessible,object,2,24474,0.6749,11787,True
attr_HappyHour,object,2,25391,0.7002,10870,False
attr_OutdoorSeating,object,2,7938,0.2189,28323,False
attr_HasTV,object,2,6543,0.1804,29718,True

In [33]:
import re
import pandas as pd
from pandas.api.types import is_numeric_dtype

def create_metadata_smart(
    df,
    max_unique_values=20,
    cat_name_patterns=(
        r"^attr_",                        # all attribute flags
        r"restaurantspricerange",         # e.g., attr_RestaurantsPriceRange2
        r"price_range", r"pricerange",    # common names
        r"pricelevel", r"price_tier"
    ),
    treat_binary_as_categorical=True,
    extras_top_values=5
):
    """
    Build a metadata table and *suggest* categorical vs numeric based on:
      - name patterns (attr_*, price range),
      - dtype (object/category),
      - low-cardinality integers,
      - binary 0/1 columns (optional).
    """
    meta = pd.DataFrame(index=df.columns)
    n = len(df)

    # Base stats
    meta["dtype_obj"]   = df.dtypes
    meta["dtype"]       = meta["dtype_obj"].astype(str)
    meta["n_unique"]    = df.nunique(dropna=True)
    meta["missing_sum"] = df.isna().sum()
    meta["missing_pct"] = (meta["missing_sum"] / n).round(4)
    meta["non_null"]    = n - meta["missing_sum"]

    # Helper: decide if a column name matches any categorical pattern (case-insensitive)
    def _name_looks_categorical(col):
        low = col.lower()
        return any(re.search(pat, low) for pat in cat_name_patterns)

    reasons = []
    suggested = []
    for col in df.columns:
        s = df[col]
        dt = s.dtype
        reason = None
        is_cat = False

        # 1) Name pattern wins (attr_*, price range, etc.)
        if _name_looks_categorical(col):
            is_cat, reason = True, "name_pattern"

        # 2) Object / string or already category
        elif str(dt) == "category" or s.dtype == "object":
            is_cat, reason = True, "object_or_category"

        # 3) Binary 0/1 (even if stored as int)
        elif treat_binary_as_categorical:
            vals = s.dropna().unique()
            # Treat bool dtype or {0,1}/{1,0} as categorical
            if str(dt) == "bool" or (len(vals) <= 2 and set(pd.Series(vals).dropna().astype(str)).issubset({"0","1"})):
                is_cat, reason = True, "binary"

        # 4) Low-cardinality integers (e.g., 1â€“4 price tier)
        if not is_cat and is_numeric_dtype(dt):
            nunq = int(s.nunique(dropna=True))
            if nunq <= max_unique_values:
                is_cat, reason = True, f"low_card_int(n_unique={nunq})"

        # Decide suggestion
        suggested.append("category" if is_cat else "numeric")
        reasons.append(reason if reason else "numeric_default")

    meta["suggested_dtype"] = suggested
    meta["categorical_reason"] = reasons

    # Sample/example values
    meta["sample_values"] = df.apply(lambda col: col.dropna().unique()[:5].tolist())

    # For categorical columns, add top-value snapshot (helps spot weird encodings)
    def _top_vals(col):
        vc = df[col].value_counts(dropna=True).head(extras_top_values)
        return [f"{idx}:{cnt}" for idx, cnt in vc.items()]

    meta["top_values"] = [
        _top_vals(c) if meta.loc[c, "suggested_dtype"] == "category" else []
        for c in df.columns
    ]

    return meta

In [34]:
# Build metadata
meta = create_metadata_smart(df)        # or df_new
meta.head(20)

# Convert suggested categorical columns to 'category' dtype
cat_cols = meta.index[meta["suggested_dtype"] == "category"].tolist()
df_converted = df.copy()
for c in cat_cols:
    df_converted[c] = df_converted[c].astype("category")

# Verify
meta_converted = create_metadata_smart(df_converted)
meta_converted.loc[cat_cols, ["dtype", "suggested_dtype", "categorical_reason"]].head(10)

                                    dtype suggested_dtype  categorical_reason
business_id                      category        category  object_or_category
city                             category        category  object_or_category
state                            category        category  object_or_category
is_open                          category        category  object_or_category
attr_ByAppointmentOnly           category        category        name_pattern
attr_BusinessAcceptsCreditCards  category        category        name_pattern
attr_BikeParking                 category        category        name_pattern
attr_RestaurantsPriceRange2      category        category        name_pattern
attr_RestaurantsTakeOut          category        category        name_pattern
attr_RestaurantsDelivery         category        category        name_pattern

In [35]:
import re
import pandas as pd
from pandas.api.types import is_numeric_dtype, is_object_dtype, is_string_dtype

ID_PATTERNS = (r"(^|_)id$", r"^business_id$", r"^user_id$", r"^review_id$")

def looks_like_id(col: str) -> bool:
    low = col.lower()
    return any(re.search(p, low) for p in ID_PATTERNS)

def create_metadata_smart(df, max_unique_values=20):
    meta = pd.DataFrame(index=df.columns)
    n = len(df)

    meta["dtype_obj"]   = df.dtypes
    meta["dtype"]       = meta["dtype_obj"].astype(str)
    meta["n_unique"]    = df.nunique(dropna=True)
    meta["missing_sum"] = df.isna().sum()
    meta["missing_pct"] = (meta["missing_sum"] / n).round(4)

    # suggestions
    suggested = []
    reason = []
    is_id = []

    for c in df.columns:
        s, dt = df[c], df[c].dtype

        if looks_like_id(c):
            suggested.append("identifier")
            reason.append("name_is_id")
            is_id.append(True)
            continue

        # categorical by type/name/low-card int
        if str(dt) == "category" or is_object_dtype(dt) or is_string_dtype(dt):
            suggested.append("category"); reason.append("object_or_category")
        elif is_numeric_dtype(dt) and s.nunique(dropna=True) <= max_unique_values:
            suggested.append("category"); reason.append(f"low_card_int(n={s.nunique(dropna=True)})")
        else:
            suggested.append("numeric");  reason.append("numeric_default")
        is_id.append(False)

    meta["suggested_dtype"]   = suggested
    meta["categorical_reason"] = reason
    meta["is_identifier"]     = is_id

    return meta

In [36]:
# 1) Build metadata
meta = create_metadata_smart(df)

# 2) Decide what to convert
cat_cols = meta.index[(meta["suggested_dtype"] == "category") & (~meta["is_identifier"])]

# 3) Make a fixed copy:
df_fixed = df.copy()
# Cast IDs to string (optional but recommended)
id_cols = meta.index[meta["is_identifier"]]
for c in id_cols:
    df_fixed[c] = df_fixed[c].astype("string")
# Cast categorical (excluding IDs)
for c in cat_cols:
    df_fixed[c] = df_fixed[c].astype("category")

# 4) Rebuild metadata to verify dtypes
meta_fixed = create_metadata_smart(df_fixed)
meta_fixed.loc[list(id_cols) + list(cat_cols), ["dtype", "suggested_dtype", "is_identifier"]]

                                    dtype suggested_dtype  is_identifier
business_id                        string      identifier           True
city                             category        category          False
state                            category        category          False
is_open                          category        category          False
attr_ByAppointmentOnly           category        category          False
attr_BusinessAcceptsCreditCards  category        category          False
attr_BikeParking                 category        category          False
attr_RestaurantsPriceRange2      category        category          False
attr_RestaurantsTakeOut          category        category          False
attr_RestaurantsDelivery         category        category          False
attr_Caters                      category        category          False
attr_WiFi                        category        category          False
attr_WheelchairAccessible        category        category          False
attr_HappyHour                   category        category          False
attr_OutdoorSeating              category        category          False
attr_HasTV                       category        category          False
attr_RestaurantsReservations     category        category          False
attr_DogsAllowed                 category        category          False
attr_Alcohol                     category        category          False
attr_GoodForKids                 category        category          False
attr_RestaurantsAttire           category        category          False
attr_RestaurantsTableService     category        category          False
attr_RestaurantsGoodForGroups    category        category          False
attr_DriveThru                   category        category          False
attr_NoiseLevel                  category        category          False
attr_Smoking                     category        category          False
days_open                        category        category          False
has_hours_info                   category        category          False
cat__Sandwiches                  category        category          False
cat__American (Traditional)      category        category          False
cat__Pizza                       category        category          False
cat__Fast Food                   category        category          False
cat__Breakfast & Brunch          category        category          False
cat__American (New)              category        category          False
cat__Burgers                     category        category          False
cat__Mexican                     category        category          False
cat__Italian                     category        category          False
cat__Coffee & Tea                category        category          False
cat__Seafood                     category        category          False
cat__Chinese                     category        category          False
cat__Salad                       category        category          False
cat__Chicken Wings               category        category          False
cat__Cafes                       category        category          False
cat__Delis                       category        category          False
cat__Caterers                    category        category          False
cat__Specialty Food              category        category          False
cat__Bakeries                    category        category          False
cat__Desserts                    category        category          False
first_review_2019                category        category          False
last_review_2019                 category        category          False

In [39]:
import pandas as pd
from IPython.display import display

# meta already exists; add optional columns if they're missing
if "sample_values" not in meta.columns:
    meta["sample_values"] = data.apply(lambda col: col.dropna().unique()[:5].tolist())

if "top_values" not in meta.columns:
    def _top_vals(col, k=5):
        vc = data[col].value_counts(dropna=True).head(k)
        return [f"{idx}:{cnt}" for idx, cnt in vc.items()]
    meta["top_values"] = [
        _top_vals(c) if "suggested_dtype" in meta.columns and meta.loc[c, "suggested_dtype"] == "category" else []
        for c in meta.index
    ]

# show a compact view (only columns that exist)
cols = [c for c in [
    "dtype","suggested_dtype","is_identifier","n_unique",
    "missing_sum","missing_pct","sample_values","top_values"
] if c in meta.columns]

display(meta[cols].head(25))  # preview first 25 rows

# save to CSV (lists -> strings)
meta_out = meta.copy()
for c in ("sample_values","top_values"):
    if c in meta_out.columns:
        meta_out[c] = meta_out[c].apply(lambda v: "; ".join(map(str, v)) if isinstance(v, list) else "")
meta_out.to_csv("metadata_report.csv")
print("Saved â†’ metadata_report.csv")

,dtype,suggested_dtype,is_identifier,n_unique,missing_sum,missing_pct,sample_values,top_values
business_id,string,identifier,True,36261,0,0.0000,"[MTSW4McQd7CbVtyjqoe9mw, CF33F8-E6oudUQ46Hnavj...",[]
city,category,category,False,839,0,0.0000,"[Philadelphia, Ashland City, Nashville, Tampa ...","[Philadelphia:3690, Tampa:2104, Indianapolis:2..."
state,category,category,False,15,0,0.0000,"[PA, TN, FL, IN, NV]","[PA:8370, FL:6423, TN:3205, IN:3080, MO:2842]"
latitude,float64,numeric,False,34934,0,0.0000,"[39.9555052, 36.269593, 36.2081024, 27.9552692...",[]
longitude,float64,numeric,False,34500,0,0.0000,"[-75.1555641, -87.058943, -86.7681696, -82.456...",[]
review_count,float64,numeric,False,1127,0,0.0000,"[80.0, 6.0, 10.0, 28.0, 100.0]",[]
is_open,category,category,False,2,0,0.0000,"[True, False]","[True:31949, False:4312]"
review_count_log1p,float64,numeric,False,1127,0,0.0000,"[4.394449, 1.9459101, 2.3978953, 3.3672957, 4....",[]
attr_ByAppointmentOnly,category,category,False,2,33122,0.9134,"[False, True]","[False:3032, True:107]"
attr_BusinessAcceptsCreditCards,category,category,False,2,4889,0.1348,"[False, True]","[True:30560, False:812]"
attr_BikeParking,category,category,False,2,9408,0.2595,"[True, False]","[True:19911, False:6942]"
attr_RestaurantsPriceRange2,category,category,False,4,6589,0.1817,"[1.0, 2.0, 3.0, 4.0]","[2.0:15485, 1.0:13145, 3.0:938, 4.0:104]"
attr_RestaurantsTakeOut,category,category,False,2,3074,0.0848,"[True, False]","[True:31864, False:1323]"
attr_RestaurantsDelivery,category,category,False,2,4898,0.1351,"[False, True]","[True:22773, False:8590]"
attr_Caters,category,category,False,2,10665,0.2941,"[True, False]","[True:15348, False:10248]"
attr_WiFi,category,category,False,3,8736,0.2409,"[free, no, paid]","[free:15631, no:11728, paid:166]"
attr_WheelchairAccessible,category,category,False,2,24474,0.6749,"[True, False]","[True:10940, False:847]"
attr_HappyHour,category,category,False,2,25391,0.7002,"[False, True]","[True:6614, False:4256]"
attr_OutdoorSeating,category,category,False,2,7938,0.2189,"[False, True]","[False:14250, True:14073]"
attr_HasTV,category,category,False,2,6543,0.1804,"[True, False]","[True:24026, False:5692]"
attr_RestaurantsReservations,category,category,False,2,6953,0.1917,"[False, True]","[False:19942, True:9366]"
attr_DogsAllowed,category,category,False,2,25718,0.7092,"[False, True]","[False:8039, True:2504]"
attr_Alcohol,category,category,False,2,22886,0.6311,"[full_bar, beer_and_wine]","[full_bar:9328, beer_and_wine:4047]"
attr_GoodForKids,category,category,False,2,9158,0.2526,"[True, False]","[True:23677, False:3426]"
attr_RestaurantsAttire,category,category,False,3,10843,0.2990,"[casual, dressy, formal]","[casual:24913, dressy:461, formal:44]"

Saved â†’ metadata_report.csv